cluster.name: my-application
path.data: /var/lib/elasticsearch
path.logs: /var/log/elasticsearch
network.host: {{ ansible_facts['default_ipv4']['address'] }}
discovery.zen.minimum_master_nodes: 2
{# e.g minimum_master_nodes: 2 -> ต้องมี master 2 เครื่อง cluster ถึงจะทำงาน #}
{# เพราะถ้ามี master 1 เครื่อง เช็คผ่าน http://{ip}:9200 ได้ แต่เช็คผ่าน http://{ip}:9200/_cat/health?v -> return 503 #}
search.remote.connect: false
{#search.remote.connect -> ไม่ยอมให้ connect มาที่ data node โดยตรง ต้องผ่าน coordinator node #}
xpack.ml.enabled: false
discovery.zen.ping.unicast.hosts: [{% for host in groups['nodes'] %}"{{ hostvars[host]['ansible_facts']['default_ipv4']['address'] }}"{% if loop.index < (groups['nodes']|length) %}, {% endif %}{% endfor %}]
{# I choose every IP address of nodes include themselves #}
{% if inventory_hostname in groups['master'] %}
node.name: master
node.master: true
node.data: false
node.ingest: false 
node.ml: false 
{% elif inventory_hostname in groups['hot'] %}
node.name: data
{# In this lab has 1 master node and 1 hot data node so I choose this hot data node to be master node too because it must have atleast 2 master to start cluster #}
node.master: true
node.data: true
node.ingest: false 
node.ml: false 
node.attr.box_type: hot
{% elif inventory_hostname in groups['warm'] %}
node.name: data
node.master: false 
node.data: true
node.ingest: false 
node.ml: false  
node.attr.box_type: warm
{% elif inventory_hostname in groups['coordinator'] %}
node.name: coordinator
node.master: false 
node.data: false
node.ingest: false 
node.ml: false 
{% endif %}
